.table2 {
  &.tiles {
    display: block;
    border-collapse: inherit;

    .table2-body {
      display: block;
      text-align: center;
    }

    .table2-row {
      display: inline-block;
      margin: 10px 10px 0 0;
      width: 20%;
      min-width: 300px;
      border: 1px solid @table2-border-color;

      .table2-col {
        display: block;
        font-size: 0.9em;
      }

      &.table2-header-row {
        display: none;
      }
    }
  }
}